/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --secondary-color: #6c63ff;
  --tittle-font: "Playfair Display", serif;
  --sub-tittle-font: "Poppins", sans-serif;
}

body {
  background-color: #f9f7fe;
}

h1 {
  font-family: var(--tittle-font);
  font-size: 96px;
  font-weight: bold;
  margin-top: 24px;
}

h2 {
  font-family: var(--sub-tittle-font);
  font-size: 36px;
  font-weight: bold;
  margin-top: 24px;
}

h3 {
  font-family: var(--sub-tittle-font);
  font-size: 24px;
  color: #272142;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 4px;
}

p {
  font-family: var(--sub-tittle-font);
  font-size: 16px;
  text-align: justify;
}

.sub-tittle {
  font-family: var(--tittle-font);
  font-size: 54px;
  font-weight: 700px;
  line-height: 85px;
}

.header-my-project {
  text-align: center;
  padding-bottom: 50px;
  font-family: var(--sub-tittle-font);
  font-size: 18px;
}

.header {
  font-family: var(--sub-tittle-font);
  font-size: 16px;
}

.homepage {
  padding: 100px 20px;
  text-align: center;
}

.margin-navbar {
  margin: 25px;
}

.col-6 {
  padding: 30px;
}

.get-start-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 18px 30px;
  border: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500px;
  align-self: center;
  margin-top: 24px;
}

.project-button {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid;
  border-color: var(--secondary-color);
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
  align-self: center;
}

#home {
  color: var(--secondary-color);
}
.fa-solid {
  font-size: 25px;
}
